#title{
    color: blue;
}

.carousel_item{
    height: 400px;
    width: 100%;
}

#carouselDiv{
    margin-top: 150px;
}






tr td{
    padding: 0 !important;
    margin: 0 !important;
  }




#map{
    height: 200px;
    width: 100%;
}



#SKRHeading{
    color: red;
    text-shadow: 2px 2px 6px #888888;
}


#SKR-info{
    background-image: linear-gradient(to right, rgb(110, 202, 255), white);
    border: 1px solid;
    box-shadow: 5px 10px 8px #888888;
}





.fa-facebook,.fa-instagram,.fa-youtube,.fa-google,
.fa-envelope-square,.fa-phone-square,.fa-home{
  padding: 20px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
  color: white;
}

.fa:hover {
    opacity: 0.7;
}
